html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars if content overflows */
  }

.header {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
    align-items: stretch; /* not sure if needed */
    border: 1px solid black;
}

.row {
    display: flex;
    flex: 1;

}

.cell {
    display: flex;
    flex: 1;
}